.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 72px;

    background-color: white;
    padding-top: 5px;
    z-index: 200;

}

.sidebar-link{
    display: flex;
    height: 74px;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(219, 216, 216);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 6px;
}

.sidebar-link div{
    font-size: 10px;
}